@charset "utf-8";

/* CSS Document */
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
article,
section,
figure,
menu,
li,
ul,
footer,
time,
aside {
    margin: 0;
    padding: 0;
}

body {
    font-family: 微软雅黑;
}

html,
body {}

/*div,article,section,nav,header,footer,figure {height:auto; overflow:hidden;}*/
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    border: none;
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    outline: none;
}

p {
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    vertical-align: middle;
}

input {
    margin: 0;
    outline: none;
    padding: 0;
}

input::-ms-clear {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}

.clearfix {
    *zoom: 1
}

section,
article,
figure,
ul,
li {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/*case.html*/
.case {
    text-align: center;
}

.case .caseMian {}

.delCase {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.delCase img {
    width: 100px;
}

.caseMian menu li {
    position: relative;
}

.caseMian menu li:last-child {
    padding-bottom: 50px;
}

.li1 {
    z-index: 1;
    background: url(../images/xqimg/caseBack.png)  no-repeat;
    background-size: 100% 100%;
    padding-bottom: 120px;
    padding-top: 30px;
}

.li2 {
    z-index: 3;

}

.li3 {
    z-index: 2;
    padding: 20px 0px;
    padding-top: 180px;
    margin-top: -120px;
    background: url(../images/img/caseBack01.png) top left no-repeat;
    background-size: 100% 65%;
}

.li4 {
    padding: 20px 0px;
    padding-top: 180px;
    margin-top: -120px;
    background: url(../images/img/caseBack02.png) top left no-repeat;
    background-size: 100% auto;
}

.caseSection section {
    margin-bottom: 20px;
}

.caseSection section:first-child {
    margin-bottom: 0px;
}

.caseSection section:nth-child(2) {
    font-size: 30px;
    color: #000;
    font-weight: 800;
}

.caseSection section:nth-child(3) {
    font-size: 18px;
    color: #666;
    line-height: 30px;
        width: 80%;
    margin: auto;
}

.CaseOne {
    width: 100%;
    margin: 0px auto;
}

.CaseOne.C1 img {
    width: 95% ;
    margin: auto;
}

.CaseOne.C2 p:first-child img {
    width: 40%;
}

.CaseOne.C2 p:nth-child(2) img {
    width: 100%;
}

.CaseOne.C3 p:first-child img {
    width: 30%;
}

.CaseOne.C3 p:nth-child(2) img {
    width: 100%;
}

/*case1.html*/
.caseSection.case-1 section:first-child {
    margin-bottom: 20px;
}

.case .caseMian .caseMenu_1 .li1 {
    padding-bottom: 120px;
}

.case .caseMian .caseMenu_1 .li2 {
    margin-top: -130px;
}

.case .caseMian .caseMenu_1 .li3 {
    margin-top: -180px;
    background-size: 100% 80%;
}

.case .caseMian .caseMenu_1 .li4 {
    background-position: 0px 300px;
    margin-top: -180px;
    padding-bottom: 420px;
    background-size: 100% 80%;
}

.case .caseMian .caseMenu_1 .li5 {
    margin-top: -420px;
}

.case .caseMian .caseMenu_1 .li6 {
    background: url(../images/img/caseBack01.png) top left no-repeat;
    background-size: 100% auto;
}

.CaseOne.C2.Ce1 p,
.CaseOne.C2.Ce2 p,
.CaseOne.C2.Ce3 p,
.CaseOne.C3.Ce4 p {
    margin-bottom: 20px;
}

.CaseOne.C2.Ce1 p:first-child img,
.CaseOne.C2.Ce2 p:first-child img,
.CaseOne.C2.Ce3 p:first-child img {
    width: 25%;
}

.CaseOne.C2.Ce1 p:nth-child(2) img {
    width: 100%;
}

.CaseOne.C2.Ce2 p:nth-child(2) img {
    width: 90%;
}

/*case2.html*/
.li6.li7 {
    margin-top: -130px;
    padding-top: 150px;
}

@media screen and (max-width: 750px) {
    .caseSection section:nth-child(3){
            font-size: 28px;
            color: #666;
            line-height: 1.5;
            width: 80%;
        
    margin: auto;
    }
    .caseSection section:nth-child(2){
            font-size: 34px;
            color: #000;
            font-weight: 800;
    }
    img{
        width: 29%;
    }
    .li1{
            z-index: 1;
            background: url(../images/xqimg/caseBack.png) no-repeat;
            background-size: 100% 100%;
            padding-bottom: 200px;
            padding-top: 30px;
    }
    .delCase img{
        width: 100%;
    }
}