@charset "utf-8";
/* CSS Document */
html{overflow:hidden;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,article,section,figure,menu,li,ul,footer,time,aside{margin:0;padding:0;}
body{font-family:微软雅黑;overflow:hidden;}
html,body {}
/*div,article,section,nav,header,footer,figure {height:auto; overflow:hidden;}*/
ul,li{list-style:none;margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;} 
img{border:none;border:0;vertical-align:middle;}
a{text-decoration:none;outline:none;}
p{margin:0;padding:0;}
input,select,textarea{vertical-align:middle;}
input{margin:0;outline:none;padding:0;}
input::-ms-clear{display:none;}
.clearfix:after{
     content:".";       
     display:block;       
     height:0;       
     clear:both;       
     visibility:hidden;       

}
.tBannerTopImg img{
	width: 180px;
}
.clearfix{*zoom:1}
#iframe_b32f3acfd4e4082e{
	height: 284px !important;
}
iframe{
	height: 284px !important;
}
/*调用样式*/
.indexDisplay {display:flex; width: 80%;  margin: 0 auto;}

.indexJusty {display:box; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-o-box; box-pack:center; -webkit-box-pack:center; -moz-box-pack:center; -ms-flex-pack:center; -o-box-pack:center; box-align:center; -webkit-box-align:center; -moz-box-align:center; -ms-flex-align:center; -o-box-align:center; text-align:center;}

.ddw{position:absolute;left:0;top:0;color:#000;font-size:16px;z-index:9999;}
.ddw2{position:absolute;left:20px;top:0;color:#000;font-size:16px;z-index:9999;}
.num_box{position:relative; transition: 0.5s;}
.num{color:#fff;width:100%;text-align:center;position:relative;}
/*第一个动画css*/
#num_1 {height:100%; position:relative; background:#dedede;}
#num_3 ,#num_5 { background:#dedede;}

/*left arrow*/
.fixed_r{position:absolute;left:15px;top:0px;z-index:999; overflow:visible;}
.fixed_r li{width:10px;height:10px;background:#666666;  font-size:16px;text-align:center;cursor:pointer; border-radius:50%; margin:10px 0px; margin-left:2.5px;}
.fixed_r li.on{background:transparent; border:1px solid #666666; width:15px; height:15px; margin-left:0px; animation:linear menuActive 1s 1; -webkit-animation:linear menuActive 1s 1; -ms-animation:linear menuActive 1s 1; -moz-animation:linear menuActive 1s 1; -o-animation:linear menuActive 1s 1;}
.fixed_r li.liImg {background:transparent; position:relative; left:-5px; width:auto; height:auto;}
@keyframes menuActive {
	0% {transform:scale(0,0);}
	50% {transform:scale(1.1,1.1);}
	100% {transform:scale(1,1);}
	}
@-webkit-keyframes menuActive {
	0% {-webkit-transform:scale(0,0);}
	50% {-webkit-transform:scale(1.1,1.1);}
	100% {-webkit-transform:scale(1,1);}
	}
@-moz-keyframes menuActive {
	0% {-moz-transform:scale(0,0);}
	50% {-moz-transform:scale(1.1,1.1);}
	100% {-moz-transform:scale(1,1);}
	}
@-ms-keyframes menuActive {
	0% {-ms-transform:scale(0,0);}
	50% {-ms-transform:scale(1.1,1.1);}
	100% {-ms-transform:scale(1,1);}
	}
@-o-keyframes menuActive {
	0% {-o-transform:scale(0,0);}
	50% {-o-transform:scale(1.1,1.1);}
	100% {-o-transform:scale(1,1);}
	}

.indexHeader {position:fixed; top:0px; z-index:1200;  width:100%; display: flex; align-items: center; justify-content: space-between;}
.indexHeader .Ilogo {width:184px; height:55px; margin:15px;}
.indexHeader .Ilogo img {width:145px; height:auto;}

.indexHeader nav {margin:15px 0px;}
.indexHeader nav ul.navUl {position:relative;}
.indexHeader nav ul li {display:inline-block;}
.indexHeader nav ul li a {color:#666; font-size:15px;  padding:0px 15px; line-height:45px; display:block;}
.indexHeader nav ul li.on a {color:#cc1e30;}

.indexHeader menu { margin:15px;}
.indexHeader menu li {display:inline-block; line-height:45px; font-size:15px; color:#333; margin:0px 6px;}
.indexHeader menu li img {position:relative; top:-2px;}
.indexHeader menu li:first-child {cursor:pointer;}
.indexHeader menu li:nth-child(2) {cursor:pointer;}
/*首页*/
#banner ,#banner ul ,#banner ul li {height:100%;}
#banner {margin:0px auto;  position:relative; overflow:hidden;}
#banner ul li {position:absolute;  list-style:none; top:0px; left:0px; right:0px; left:0px; }
#banner ul li div {position:absolute;}


/*#banner ul li:nth-child(4) div {width:50%; height:100%; background:url(../images/banner/01.jpg); float:left; background-size:200% auto;}
#banner ul li:nth-child(5) div {width:50%; height:100%; background:url(../images/banner/03.jpg); float:left; background-size:200% auto;}*/
#banner ul li {z-index:0;}

.arrow {position:absolute; bottom:10px; left:10px; z-index:5; width:100%; text-align:center;}
.arrow a {width:15px; height:15px; background:#656565; border-radius:50%; display:inline-block; margin:0px 2px;}
.arrow a.on {background:#b6262b;}
.banner2,
.about_textBox {
	display: none;
}

#num_2 {height:100%; background:url(../images/img/Sback.jpg);}
video{
	width: 100%;


overflow:hidden;
}

/*二维码*/
.wx {width:100px; position:fixed; top:65px; right:-150px; z-index:100; overflow:visible; z-index:100;}
.wx:after {content:""; width:0; 
    height:0; 
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-bottom:15px solid #fff; position:absolute; top:-12px; left:32px;}
.wx img {width:100%; height:auto; border-radius:2px;}
.wxVisible {-webkit-animation:linear bounceInRight 1s 1; -moz-animation:linear bounceInRight 1s 1; -ms-animation:linear bounceInRight 1s 1; -o-animation:linear bounceInRight 1s 1; position:fixed; z-index:100;}
@keyframes bounceInRight{
	0%{opacity:0;transform:translateX(100px);}
	60%{opacity:0.5; transform:translateX(-30px);}
	80%{opacity:0.8; transform:translateX(10px);}
	100%{opacity:1; transform:translateX(0);}
	}
@-webkit-keyframes bounceInRight{
	0%{opacity:0;-webkit-transform:translateX(100px);}
	60%{opacity:0.5; -webkit-transform:translateX(-30px);}
	80%{opacity:0.8; -webkit-transform:translateX(10px);}
	100%{opacity:1; -webkit-transform:translateX(0);}
	}
@-moz-keyframes bounceInRight{
	0%{opacity:0;-moz-transform:translateX(100px);}
	60%{opacity:0.5; -moz-transform:translateX(-30px);}
	80%{opacity:0.8; -moz-transform:translateX(10px);}
	100%{opacity:1; -moz-transform:translateX(0);}
	}
@-ms-keyframes bounceInRight{
	0%{opacity:0; -ms-transform:translateX(100px);}
	60%{opacity:0.5; -ms-transform:translateX(-30px);}
	80%{opacity:0.8; -ms-transform:translateX(10px);}
	100%{opacity:1; -ms-transform:translateX(0);}
	}
@-o-keyframes bounceInRight{
	0%{opacity:0; -o-transform:translateX(100px);}
	60%{opacity:0.5; -o-transform:translateX(-30px);}
	80%{opacity:0.8; -o-transform:translateX(10px);}
	100%{opacity:1; -o-transform:translateX(0);}
	}
	
/*three*/
.siceMian {max-width:1136px; margin:0px auto; height:auto; overflow:hidden;}
.siceMian menu {height:auto; overflow:hidden;}
.siceMian menu li {float:left; cursor:pointer;}
.siceMian menu li .serviceArt {width:70%; margin:0px auto; text-align:center;}
.siceMian menu li .serviceArt figure {width:100px; height:100px; margin:0px auto; background:100% auto;}

.siceMian menu li .serviceArt aside {font-size:20px; color:#524b48; line-height:24px; margin:20px 0px; margin-top:30px;}
.siceMian menu li .serviceArt section {font-size:14px; color:#686868; line-height:24px;}
.siceMian menu li:hover .serviceArt aside {color:#b32529;}
.siceMian menu li:first-child:hover .serviceArt figure { background:100% auto; animation:bounce 1s linear 1; -webkit-animation:bounce 1s linear 1; -moz-animation:bounce 1s linear 1; -ms-animation:bounce 1s linear 1; -o-animation:bounce 1s linear 1;}
.siceMian menu li:nth-child(2):hover .serviceArt figure { background:100% auto; animation:bounce 1s linear 1; -webkit-animation:bounce 1s linear 1; -moz-animation:bounce 1s linear 1; -ms-animation:bounce 1s linear 1; -o-animation:bounce 1s linear 1;}
.siceMian menu li:nth-child(3):hover .serviceArt figure { background:100% auto; animation:bounce 1s linear 1; -webkit-animation:bounce 1s linear 1; -moz-animation:bounce 1s linear 1; -ms-animation:bounce 1s linear 1; -o-animation:bounce 1s linear 1;}
.siceMian menu li:nth-child(4):hover .serviceArt figure {background:100% auto; animation:bounce 1s linear 1; -webkit-animation:bounce 1s linear 1; -moz-animation:bounce 1s linear 1; -ms-animation:bounce 1s linear 1; -o-animation:bounce 1s linear 1;}
.siceMian menu li:nth-child(5):hover .serviceArt figure {background:100% auto; animation:bounce 1s linear 1; -webkit-animation:bounce 1s linear 1; -moz-animation:bounce 1s linear 1; -ms-animation:bounce 1s linear 1; -o-animation:bounce 1s linear 1;}
.siceMian menu li:nth-child(6):hover .serviceArt figure { background:100% auto; animation:bounce 1s linear 1; -webkit-animation:bounce 1s linear 1; -moz-animation:bounce 1s linear 1; -ms-animation:bounce 1s linear 1; -o-animation:bounce 1s linear 1;}
@keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}
@-webkit-keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}
@-moz-keyframes bounce{0%,100%,20%,50%,80%{-moz-transform:translateY(0);transform:translateY(0)}40%{-moz-transform:translateY(-30px);transform:translateY(-30px)}60%{-moz-transform:translateY(-15px);transform:translateY(-15px)}}
@-ms-keyframes bounce{0%,100%,20%,50%,80%{-ms-transform:translateY(0);transform:translateY(0)}40%{-ms-transform:translateY(-30px);transform:translateY(-30px)}60%{-ms-transform:translateY(-15px);transform:translateY(-15px)}}
@-o-keyframes bounce{0%,100%,20%,50%,80%{-o-transform:translateY(0);transform:translateY(0)}40%{-o-transform:translateY(-30px);transform:translateY(-30px)}60%{-o-transform:translateY(-15px);transform:translateY(-15px)}}
/*@-webkit-keyframes flipInY{0%{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateY(-10deg);transform:perspective(400px) rotateY(-10deg)}70%{-webkit-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg)}100%{-webkit-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1}}*/

/*隐藏特效*/
.siceMian menu li {opacity:1; }
/*.siceMian menu li:first-child {-webkit-transform:translateX(-100px) rotate(15deg); -webkit-transform-origin:left top;}
.siceMian menu li:nth-child(2) {-webkit-transform:translateY(-100px) rotate(0deg); -webkit-transform-origin:center top;}
.siceMian menu li:nth-child(3) {-webkit-transform:translateX(100px) rotate(-15deg); -webkit-transform-origin:right top;}
.siceMian menu li:nth-child(4) {-webkit-transform:translateX(-100px) rotate(15deg); -webkit-transform-origin:left top;}
.siceMian menu li:nth-child(5) {-webkit-transform:translateY(100px) rotate(0deg); -webkit-transform-origin:center top;}
.siceMian menu li:nth-child(6) {-webkit-transform:translateX(100px) rotate(-15deg); -webkit-transform-origin:right top;}*/
.siceMian menu.serverMenu li {opacity:1; animation:linear lightSpeedIn 1.5s 1; -moz-animation:linear lightSpeedIn 1.5s 1; -ms-animation:linear lightSpeedIn 2s 1; -moz-animation:linear lightSpeedIn 2s 1; -o-animation:linear lightSpeedIn 2s 1;}
@keyframes lightSpeedIn{0%{transform:translateX(100%);opacity:0.5}60%{transform:translateX(-20%);opacity:0.8}80%{transform:translateX(0%) ;opacity:1}100%{transform:translateX(0%) ;opacity:1}}
@-webkit-keyframes lightSpeedIn{0%{-webkit-transform:translateX(100%);opacity:0.5}60%{-webkit-transform:translateX(-20%);opacity:0.8}80%{-webkit-transform:translateX(0%) ;opacity:1}100%{-webkit-transform:translateX(0%) ;opacity:1}}
@-moz-keyframes lightSpeedIn{0%{-moz-transform:translateX(100%);opacity:0}60%{-moz-transform:translateX(-20%);opacity:0.5}80%{-moz-transform:translateX(0%) ;opacity:0.8}100%{-moz-transform:translateX(0%) ;opacity:1}}
@-ms-keyframes lightSpeedIn{0%{-ms-transform:translateX(100%);opacity:0}60%{-ms-transform:translateX(-20%);opacity:0.5}80%{-ms-transform:translateX(0%) ;opacity:0.8}100%{-ms-transform:translateX(0%) ;opacity:1}}
@-o-keyframes lightSpeedIn{0%{-o-transform:translateX(100%);opacity:0}60%{-o-transform:translateX(-20%);opacity:0.5}80%{-o-transform:translateX(0%);opacity:0.8}100%{-o-transform:translateX(0%);opacity:1}}

.inStxt {width:100%; height:100%; position:absolute; top:0px; left:0px; right:0px; bottom:0px; font-size:16px; color:#fff;}
.inStxt .insCle {
	background: url(../images/img/kuang.png) left center no-repeat;
	background-size: 100% 100%;
	font-size: 26px;
	color: #fff;
	padding: 30px;
	display: inline-block;
	max-width: 1024px;
	margin: 0px auto;
}
.insCle :first-child {
	font-size: 26px;
	line-height: 30px;
	margin-top: 15px;

}
.insCle :nth-child(2) {
	font-size: 16px;
	line-height: 30px;
	margin-top: 15px;
	



}

/*Two*/
.insP {display:none;}
.insPc {display:none;}
.insP.insVisible {width:900px;
text-align:center;
   white-space: nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end) 1; -moz-animation: type 3s steps(50, end) 1; -ms-animation: type 3s steps(50, end) 1;
  animation: type 3s steps(50, end) 1; -o-animation: type 3s steps(50, end) 1;

  }
.insPc.insVisiblec {width:900px;
text-align:center;
   -webkit-animation: bounceInDown 3s linear 1;
   animation: bounceInDown 3s linear 1;

  }
  .jieshao{
	  font-size: 16px;
	line-height: 30px;
	margin-top: 15px;
  }
@-webkit-keyframes type{
    from { width: 0;}
}
@-moz-keyframes type{
    from { width: 0;}
}
@-ms-keyframes type{
    from { width: 0;}
}
@-o-keyframes type{
    from { width: 0;}
}
@keyframes type{
    from { width: 0;}
}

/*four*/
#num_3 {background:-webkit-linear-gradient(left ,#cdcdcd ,#f2f2f2 ,#cdcdcd);}
.ServiceM {max-width:1136px; margin:0px auto; height:auto; overflow:visible;}
.ServiceMian {overflow:visible; width:1136px; margin:0px auto; }
.SviceMun {width:100%; overflow:hidden; position:relative;}
.svicePosition {position:absolute; left:0px;}
.Smun {width:1136px; float:left;}
.Smun.SmunVisible {}
.ServiceMian .SerArt section:first-child img {width:80%;}
.ServiceMian .SerArt section:nth-child(2) {width:300px; display:inline-block; margin-top:80px; text-align:left;}
.ServiceMian .SerArt section:nth-child(2) img {max-width:80%; height:auto;}
.Arow {position:absolute; top:0px; width:80px; height:80px; top:38%; cursor:pointer;}
.leftArow {left:60px; }
.rightArow {right:60px;}

.ServiceNav {width:100%; margin:0px auto;}
.ServiceNav ul li {text-align:center; font-size:14px; color:#6e6e6e; cursor:pointer;}

/*hover*/

.ServiceNav ul li:hover { animation:bounceHover 1s linear 1; -webkit-animation:bounceHover 1s linear 1; -moz-animation:bounceHover 1s linear 1; -ms-animation:bounceHover 1s linear 1; -o-animation:bounceHover 1s linear 1; color:#cf2525;}
@keyframes bounceHover{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}
@-webkit-keyframes bounceHover{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}
@-moz-keyframes bounceHover{0%,100%,20%,50%,80%{-moz-transform:translateY(0);transform:translateY(0)}40%{-moz-transform:translateY(-30px);transform:translateY(-30px)}60%{-moz-transform:translateY(-15px);transform:translateY(-15px)}}
@-ms-keyframes bounceHover{0%,100%,20%,50%,80%{-ms-transform:translateY(0);transform:translateY(0)}40%{-ms-transform:translateY(-30px);transform:translateY(-30px)}60%{-ms-transform:translateY(-15px);transform:translateY(-15px)}}
@-o-keyframes bounceHover{0%,100%,20%,50%,80%{-o-transform:translateY(0);transform:translateY(0)}40%{-o-transform:translateY(-30px);transform:translateY(-30px)}60%{-o-transform:translateY(-15px);transform:translateY(-15px)}}



.ServiceMHidden {display:none;}
.SmunOn {
	-webkit-animation: bounceIn 1s linear 1;
	animation: bounceIn 1s linear 1;
}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}

.SerArt section.setOn {
	-webkit-animation: rotateInDownRight 1s linear 1;
	animation: rotateInDownRight 1s linear 1;
}
@-webkit-keyframes rotateInDownRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}
/*@keyframes fadeInDown{0%{opacity:0;transform:translateY(-50px);}100%{opacity:1;transform:translateY(0);}}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-50px);}100%{opacity:1;-webkit-transform:translateY(0);}}
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-50px);}100%{opacity:1;-moz-transform:translateY(0);}}
@-ms-keyframes fadeInDown{0%{opacity:0;-ms-transform:translateY(-50px);}100%{opacity:1;-ms-transform:translateY(0);}}
@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-50px);}100%{opacity:1;-o-transform:translateY(0);}}*/

/*five*/
#num_4 {background:#ededed;}
.NumCase {max-width:1136px; margin:0px auto; height:auto; overflow:hidden;}
.MunCase {width:100%;}
.MunCase .NumCase_article {display:inline-block; width:175px; float:left; margin:-25px 5px; position:relative;}
.MunCase .NumCase_article .NumOne_section p:first-child {width:0px; height:0px; border-left:87.5px solid transparent; border-right:87.5px solid transparent; border-bottom:60px solid #ddd;}
.MunCase .NumCase_article .NumOne_section p:nth-child(2) {width:100%; height:100px; background:#ddd;}
.MunCase .NumCase_article .NumOne_section p:nth-child(3) {width:0px; height:0px; border-left:87.5px solid transparent; border-right:87.5px solid transparent; border-top:60px solid #ddd;}
.MunCase .NumCase_article:first-child ,.MunCase .NumCase_article:nth-child(12) {margin-left:96px;}
.MunCase .NumCase_article .NumTwo_section {position:absolute; top:0px; left:0px; right:0px; bottom:0px; z-index:2;}
/*.MunCase .NumCase_article .NumTwo_section p:first-child {width:0px; height:0px; border-left:87.5px solid transparent; border-right:87.5px solid transparent; border-bottom:60px solid #dddddd;}
.MunCase .NumCase_article .NumTwo_section p:nth-child(2) {width:100%; height:100px; background:#dddddd;}
.MunCase .NumCase_article .NumTwo_section p:nth-child(3) {width:0px; height:0px; border-left:87.5px solid transparent; border-right:87.5px solid transparent; border-top:60px solid #dddddd;}*/
.MunCase .NumCase_article div {position:absolute; top:22px; left:0px; width:100%;}
.MunCase .NumCase_article div img {width:100%;}

.MunCase.MunV {-webkit-animation:bounceIn 1s linear 1; -moz-animation:bounceIn 1s linear 1; -ms-animation:bounceIn 1s linear 1; -o-animation:bounceIn 1s linear 1;}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}70%{-webkit-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}
@-moz-keyframes bounceIn{0%{opacity:0;-moz-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-moz-transform:scale(1.05);transform:scale(1.05)}70%{-moz-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-moz-transform:scale(1);transform:scale(1)}}
@-ms-keyframes bounceIn{0%{opacity:0;-ms-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-ms-transform:scale(1.05);transform:scale(1.05)}70%{-ms-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-ms-transform:scale(1);transform:scale(1)}}
@-o-keyframes bounceIn{0%{opacity:0;-o-transform:scale(.3);transform:scale(.3)}50%{opacity:1;-o-transform:scale(1.05);transform:scale(1.05)}70%{-o-transform:scale(.9);transform:scale(.9)}100%{opacity:1;-o-transform:scale(1);transform:scale(1)}}
.NumCtion {width:175px; height:220px; background:url(../images/img/backHei.png) center center no-repeat; background-size:100% 100%; position:absolute; top:0px; left:0px; right:0px; bottom:0px; z-index:3; opacity:0.6;}
/*.NumCase_article:hover .NumCtion {-webkit-animation:NumbounceHover 1s linear 1;}
@-webkit-keyframes NumbounceHover {
	form {transform:scale(1,1);}
	to {transform:scale(0.2,0.2);}
	}*/
	.NumCase_article:hover {cursor:pointer;}
.NumCase_article:hover .NumCtion {opacity:0; }
.NumCase_article:hover a img {-webkit-animation:bounceIn01 1s linear 1; -moz-animation:bounceIn01 1s linear 1; -o-animation:bounceIn01 1s linear 1; -ms-animation:bounceIn01 1s linear 1; }

@-webkit-keyframes bounceIn01{
	/*30%{opacity:.9;-webkit-transform:scale(.9);transform:scale(.9);}
	50%{-webkit-transform:scale(.7);transform:scale(.7);}
	70%{opacity:.5;-webkit-transform:scale(.4);transform:scale(.4);}
	100%{opacity:0;-webkit-transform:scale(.1);transform:scale(.1); display:none; }*/
	30%{opacity:0;-webkit-transform:scale(.1);transform:scale(.1); }
	50%{opacity:.5;-webkit-transform:scale(.4);transform:scale(.4);}
	70%{-webkit-transform:scale(.7);transform:scale(.7);}
	100%{opacity:.9;-webkit-transform:scale(.9);transform:scale(.9); display:none;}
}
@-moz-keyframes bounceIn01{
	30%{opacity:0;-moz-transform:scale(.1);transform:scale(.1); }
	50%{opacity:.5;-moz-transform:scale(.4);transform:scale(.4);}
	70%{-moz-transform:scale(.7);transform:scale(.7);}
	100%{opacity:.9;-moz-transform:scale(.9);transform:scale(.9); display:none;}
}
@-o-keyframes bounceIn01{
	30%{opacity:0;-o-transform:scale(.1);transform:scale(.1); }
	50%{opacity:.5;-o-transform:scale(.4);transform:scale(.4);}
	70%{-o-transform:scale(.7);transform:scale(.7);}
	100%{opacity:.9;-o-transform:scale(.9);transform:scale(.9); display:none;}
}
@-ms-keyframes bounceIn01{
	30%{opacity:0;-ms-transform:scale(.1);transform:scale(.1); }
	50%{opacity:.5;-ms-transform:scale(.4);transform:scale(.4);}
	70%{-ms-transform:scale(.7);transform:scale(.7);}
	100%{opacity:.9;-ms-transform:scale(.9);transform:scale(.9); display:none;}
}

/*six*/
#num_5 {background:-webkit-linear-gradient(top, #ededed 50%, #c42831 50%); background:-moz-linear-gradient(top, #ededed 50%, #c42831 50%);}
.NumContact {max-width:1136px; margin:0px auto; height:auto; overflow:hidden;}
.NumContact_left {width:70%; float:left;}
.NumContact_right {width:28%; float:right; background:#fff; display:none;}
.NumContact_right.NumContact_rightVisible {display:block; -webkit-animation:bounceInDown 2s  linear 1; -moz-animation:bounceInDown 2s linear 1; -ms-animation:bounceInDown 2s linear 1; -o-animation:bounceInDown 2s linear 1;}
@-webkit-keyframes bounceInDown{
	0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
	60%{opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
	80%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
	100%{-webkit-transform:translateY(0);transform:translateY(0)}
	}
@-moz-keyframes bounceInDown{
	0%{opacity:0;-moz-transform:translateY(-2000px);transform:translateY(-2000px)}
	60%{opacity:1;-moz-transform:translateY(30px);transform:translateY(30px)}
	80%{-moz-transform:translateY(-10px);transform:translateY(-10px)}
	100%{-moz-transform:translateY(0);transform:translateY(0)}
	}
@-ms-keyframes bounceInDown{
	0%{opacity:0;-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
	60%{opacity:1;-ms-transform:translateY(30px);transform:translateY(30px)}
	80%{-ms-transform:translateY(-10px);transform:translateY(-10px)}
	100%{-ms-transform:translateY(0);transform:translateY(0)}
	}
@-o-keyframes bounceInDown{
	0%{opacity:0;-o-transform:translateY(-2000px);transform:translateY(-2000px)}
	60%{opacity:1;-o-transform:translateY(30px);transform:translateY(30px)}
	80%{-o-transform:translateY(-10px);transform:translateY(-10px)}
	100%{-o-transform:translateY(0);transform:translateY(0)}
	}
.NumContact_right .NumConR_article {padding-bottom:0px;}
.NumContact_right .NumConR_article img {width:100%; height:auto;}
.NumContact_right .NumConR_article .NumR_a {font-size:18px; color:#cf292f; line-height:40px;}
.NumContact_right .NumConR_article .NumR_a p span {font-size:35px; color:#cf292f; font-family:arial; font-weight:bold;}
.NumContact_right .NumConR_article .NumR_a img {width:100px; margin-top:20px;}

.NumLeft_Text aside.conArm {text-align:left; font-size:24px; color:#000;line-height: 1.3;}
.NumLeft_Text aside.conArm.conArmVisible {animation:fadeInLeftBig 2s linear 1; -webkit-animation:fadeInLeftBig 1s linear 1;  -moz-animation:fadeInLeftBig 1s linear 1;  -ms-animation:fadeInLeftBig 1s linear 1;  -o-animation:fadeInLeftBig 1s linear 1;}
.NumLeft_Text aside span {font-size:38px; font-family:arial; font-weight:bold;}
.NumLeft_Text .NumL_Section {margin-top:20px; width:100%; display: flex;justify-content: space-between;}
.NumLeft_Text .NumL_Section.NumL_SectionVisible {animation:fadeInLeftBig 2s linear 1; -webkit-animation:fadeInLeftBig 1s linear 1;  -moz-animation:fadeInLeftBig 1s linear 1;  -ms-animation:fadeInLeftBig 1s linear 1;  -o-animation:fadeInLeftBig 1s linear 1;}
@-webkit-keyframes fadeInLeftBig{
	0%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px)}
	100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
	}
@-moz-keyframes fadeInLeftBig{
	0%{opacity:0;-moz-transform:translateX(-2000px);transform:translateX(-2000px)}
	100%{opacity:1;-moz-transform:translateX(0);transform:translateX(0)}
	}
@-ms-keyframes fadeInLeftBig{
	0%{opacity:0;-ms-transform:translateX(-2000px);transform:translateX(-2000px)}
	100%{opacity:1;-ms-transform:translateX(0);transform:translateX(0)}
	}
@-o-keyframes fadeInLeftBig{
	0%{opacity:0;-o-transform:translateX(-2000px);transform:translateX(-2000px)}
	100%{opacity:1;-o-transform:translateX(0);transform:translateX(0)}
	}
.NumLeft_Text .NumL_Section .Numl_Art:first-child {}
.NumLeft_Text .NumL_Section .Numl_Art p {text-align:left; font-size:16px; color:#666; margin:15px 0px;}
.NumLeft_Text .NumL_Section .Numl_Art p img {margin-right:10px;}
.NumLeft_Text .NumL_Section .Numl_Art:nth-child(2) {border-left: 1px solid #d5d5d5;width:260px; display:inline-block; font-size:16px; color:#333; line-height:40px;} 
.NumLe {margin-top:30px;}

.contentMun {width:90%; display:none;}
.contentMun.contentMunVisible {display:block; -webkit-animation:fadeInUpBig 2s linear 1; -moz-animation:fadeInUpBig 1s linear 1; -ms-animation:fadeInUpBig 1s linear 1; -o-animation:fadeInUpBig 1s linear 1;}
@-webkit-keyframes fadeInUpBig{
	0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px)}
	100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
	}
@-moz-keyframes fadeInUpBig{
	0%{opacity:0;-moz-transform:translateY(2000px);transform:translateY(2000px)}
	100%{opacity:1;-moz-transform:translateY(0);transform:translateY(0)}
	}
@-ms-keyframes fadeInUpBig{
	0%{opacity:0;-ms-transform:translateY(2000px);transform:translateY(2000px)}
	100%{opacity:1;-ms-transform:translateY(0);transform:translateY(0)}
	}
@-o-keyframes fadeInUpBig{
	0%{opacity:0;-o-transform:translateY(2000px);transform:translateY(2000px)}
	100%{opacity:1;-o-transform:translateY(0);transform:translateY(0)}
	}
.contentMun aside {font-size:20px; color:#fff; margin-bottom:20px; text-align:left;}
.contentMun section p {padding:15px 0px; border-bottom:1px solid #f0c9cb; position:relative;}
.contentMun section p img {position:absolute; left:0px; top:12px; width:30px; height:30px;}
.contentMun section p input {border:none; background:transparent; width:100%; text-indent:35px; font-size:14px; color:#fff; font-family:微软雅黑;}

:-moz-placeholder {
    color: #ccc;  font-family:微软雅黑;
}
::-moz-placeholder {
    color: #ccc; font-family:微软雅黑;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc; font-family:微软雅黑;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc; font-family:微软雅黑;
}
.conSecBtn {display:inline-block; float:left; height:45px; line-height:45px; padding:0px 35px; border:2px solid #f0c9cb; margin-top:25px;}
.conSecBtn a {font-size:16px; color:#fff; display:block;}
.conSecBtn a img {margin-right:5px;}