
@media screen and (max-width: 768px) {
    /* 小于768屏幕 */

html,
body {
  
   position: fixed;
   width: 100%;
   height: 100%;
}
    .indexHeader,
    .fixed_r,
    .banner1,
    .inStxt
   {
        display: none;
    }
  
    .shipin {
        width: 100%;
        height: 30%;
    }

    .banner2,
    .about_textBox {
        display: block;
    }

    .banner ul {
        width: 300%;
        transform: translateX(0px);
        transition: 0.5s;
    }

    .video {
        width: 122%;
        height: auto;
    }
    .video b{
        text-align: center;
        display: flex;
        align-items: center;
    }

    .siceMian {
        height: 100%;
    }

    .siceMian menu {
        height: 100%;
    }

    .siceMian menu li {
    box-sizing: border-box;
    height: 33.3%;
    margin-top: 0 !important;
       width: 50% !important;
     display: flex;
     justify-content: center;

 
    }

    .siceMian menu li .serviceArt {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;



    }

    
    .siceMian menu li .serviceArt figure{
            width: 1.333333rem;
            height: 1.333333rem;
            max-height: 80%;
            max-width: 80%;
            margin: 0px auto;
        
    }
    .siceMian menu li .serviceArt aside {
      
          font-size: .4rem;
          color: #524b48;
          line-height: .346667rem;
          margin: .133333rem 0px;
     
    }
    .siceMian menu li .serviceArt section p {
        font-size: .346667rem;
        line-height: 1.5;
    }

    .ServiceM {
        width: 100%;
    }

    #banner ul li {
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;

    }

    #banner ul li:first-child {
        width: 50%;
        height: 100% !important;
        background: url(../images/banner/01.jpg);
        float: left;
        background-size: cover;
        background-position-x: center;
    }

    #banner ul li:nth-child(2) {
        width: 50%;
        height: 100% !important;
        background: url(../images/banner/02.jpg);
        float: left;
        background-size: cover;
        background-position-x: center;
    }

    #banner ul li:nth-child(3) {
        width: 50%;
        height: 100% !important;
        background: url(../images/banner/03.jpg);
        float: left;
        background-size: cover;
        background-position-x: center;
    }

    .m_grayFont {
        position: relative;
        color: #807a7a;
        left: -200%;
        margin-top: .138889rem;
        text-align: center;
        display: block;
        font-size: .466667rem;
        line-height: .466667rem;
        letter-spacing: 3px;
        font-family: "微软雅黑";
 margin-bottom: 5%;

    }
    .m_redFont {
        position: relative;

        left: -200%;
        color: #b61837;
        text-align: center;
        display: block;
        font-size: .533333rem;
        line-height: .533333rem;
        font-family: "微软雅黑";
     margin-bottom: 5%;
    }

    .m_redFonts {
        transform: translateX(100%);
        transition: 1.2s;
    }
 .m_graySFont {

     color: #807a7a;
     text-align: center;
     display: block;
     position: relative;
     font-size: .4rem;
     left: -200%;
     line-height: .4rem;
     padding-left: .142857rem;
     padding-right: .142857rem;
     box-sizing: border-box;
     font-family: "微软雅黑";
 }
    .m_graySFonts {
        transform: translateX(100%);
        transition: 1.6s;
    }
    .m_grayFonts{
 transform: translateX(100%);
 transition: 0.8s;
    }
 
.arrow a{
    width: .133333rem;
    height: .133333rem;
        border-radius: .133333rem;
}
   

    /* banner图位置样式 */
    .m_logo {
        display: block;
             position: relative;
        left: -200%;
        height: 40px;
        margin: 0 auto;
         margin-top: 15%;
         margin-bottom: 10%;

    }

.shipin video {
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
}
 

    .about_textBox {
        width: 100%;
        height: 70%;
        background: #b02537;
        z-index: 999;
        transform: translateY(0%);
    }

    .textBox {
        width: 90%;
        height: 100%;
        background: #231f21;
        margin: auto;
        border-radius: 10px;
        transform: translateY(-.266667rem);
        z-index: 999;
    }

    .ab_img {
        transition: 0.5s;
        display: inline-block;
        margin: auto;
        width: 35%;
        margin-top: 15%;
        margin-bottom: 7%;
        position: relative;
	opacity: 0;
    }

    .ab_redFont {
        transition: 0.5s;
        position: static;
        color: #b61837;
        text-align: center;
        display: block;
        font-size: .466667rem;
        line-height: 1.5;
        margin-bottom: .266667rem;
        font-family: "微软雅黑";
	opacity: 0;
    }

    .ab_p {
        transition: 0.8s;
	opacity: 0;
        position: relative;
        color: #ffffff;
        margin-top: 6%;
        font-size: .4rem;
        text-align: left;
        font-family: "微软雅黑";
        line-height: 1.5;
        padding-left: 6%;
        padding-right: 6%;
    }

    .ab_next {

        /* -webkit-animation: nextFrames 3s linear 0s 2; */
        animation: nextFrames 2s 0s 1 linear;
    }

    @keyframes nextFrames {
        0% {

            opacity: 0;
        }

        25% {

            opacity: 0.25;
        }

        50% {

            opacity: 0.5;
        }

        75% {

            opacity: 0.75;
        }

        100% {

            animation-fill-mode: forwards;
            opacity: 1;

        }
    }
.line1 {
    transition: 0.5s;
    opacity: 0;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background: url(../images/mobile/server_border2.png) repeat-x;
    z-index: 2;
}

.line2 {
    opacity: 0;
    transition: 0.5s;
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    background: url(../images/mobile/server_border.png) repeat-y;
}

.serverLi article {
    transform: scale(0);
    transition: 0.5s;
    -webkit-transform: scale(0);
    font-size: 0.5em;
}

    /* 4 */
     .ServiceNav{
         overflow-x: auto;
         overflow-y: visible;
     }
     .ServiceNav ul{
         width: 130%;
         position: relative;
         top: 30px;
         height: 100px;
     }
     .ServiceNav ul li{
       z-index: 2;
     }
     #num_5{
         display: none;
     }
     #num_5yd{
             overflow: hidden;
             margin: 0 auto;
     }
     .con_topRed {
    width: 1000px;
    height: 1000px;
    background: #b02537;
    transform: rotateZ(76deg);
    position: absolute;
    top: -901px;
    transition: 0.5s;
    left: -200px;
    z-index: 0;

     }
     .content{
         width: 90%;
         height: 100%;
        margin-left: 5%;
         display: flex;
         flex-direction: column;
         align-items: center;
         
     }
     .con_font1 {
         color: #686465;
         width: 100%;
         transition: 0.4s;
         font-size: .4rem;
         text-align: center;
         line-height: .4rem;
         position: absolute;
         z-index: 3;
         top: -65%;
     }
     .con_code {
         z-index: 1;
         max-width: 100%;
         height:4rem;
         transition: 0.2s;
         position: absolute;
         top: -90%;
         /*13%*/
       margin: 0 auto;
     }
     #tel {
         color: #b02537;
         font-size: .4rem;
         text-align: center;
         position: absolute;
          transition: 1.4s;
        top: -29%;
        width: 39%;
        z-index: 2;
        border: 1px solid #b02537;
        letter-spacing: 3px;
        border-radius: .4rem;
     }
     #tel a{
         color: #b02537;
       
     }

     #tel b {
         font-size: .386667rem;
         color: #b02537;
         font-weight: normal;
     }

     .con_font2 {
         color: #3a3536;
         font-size: .533333rem;
         text-align: center;
         position: absolute;
         left: 0%;
         transition: 0.8s;
         top: -52%;
         width: 100%;
         z-index: 3;
     }

     .con_font2 b {
         font-size: .666667rem;
         color: #b02537;
         font-weight: normal;
     }

     .con_font2 b a {
         color: #b02537;
     }

.con_moBox {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#moveBox {
    width: 80%;
    position: absolute;
    left: 10%;
    height: 65%;
    top: -100%;
    transition: 0.5s;
    background: #ffffff;
}

#moveBox>span {
    display: block;
    width: 100%;
    height: 50px;
}

#moveBox>span img {
    float: right;
    height: 30px;
    margin: 10px 10px 0 0;
}

.con_moBox>div>p {
    width: 100%;
    text-align: center;
    font-family: "微软雅黑";
    line-height: 30px;
}

#moveBox>p:nth-of-type(1) {
    color: #b02737;
    font-size: .453333rem;
}

#moveBox>p:nth-of-type(2) {
    color: #100e10;
    font-size: .426667rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.con_moBox form div {
    width: 90%;

    box-sizing: border-box;
    margin: auto;

}

.con_moBox form div img {
    display: inline-block;
    width: .8rem;
    float: left;
    margin-top: 10px;
}

.con_moBox form div input {
    display: inline-block;
    border: none;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    float: left;
    width: 80%;
    line-height: 49px;
    font-size: .4rem;
    color: black;
    text-indent: 20px;
    font-family: "微软雅黑";
}

.con_moBox form div:nth-of-type(3) {
    height: 130px;
}

.con_moBox form div textarea {
    box-sizing: border-box;
    width: 80%;
    outline: none;
    border: none;
    resize: none;
    color: black;
    padding-top: .133333rem;
    padding-bottom: .133333rem;
    padding-left: 6px;
    box-sizing: border-box;
    height: 1.6rem;
    line-height: 1.5;
    font-size: .4rem;
    font-family: "微软雅黑";
}

.moBDiv {
    width: 100% !important;
    height: 1.066667rem;
    background: #f8f6f7;
    position: absolute;
    bottom: 0;
    left: 0;
}

.moBDiv div {
    width: 90%;
    height: 1rem;
    line-height: 1rem;

    margin-top: 0 !important;
    top: .2rem;
    background: #ba2b31;
    font-size: .373333rem;
    text-align: center;
}

.moBDiv div img {
    float: none !important;
width: .666667rem !important;
    height: .666667rem;
    margin-top: 0 !important;
    margin-right: .2rem;
}


     .con_font3 {
   
 
         color: #3a3536;
         font-size: .4rem;
         text-align: center;
       position: absolute;
       z-index: 2;
       top: -45%;
transition: 1s;
      
     }
.con_logo{
    position: absolute;
    top: -61%;
  transition: 0.6s;
    height: 1rem;
    z-index: 2;
    max-width: 100%;
    margin: 0 auto;
}
     .con_font4 {
         color: #3a3536;
         font-size: .4rem;
         text-align: center;
         position: absolute;
         top: -40%;
         width: 100%;
         z-index: 3;
         transition: 1.2s;
     }

     .con_font4 label {
         opacity: 0;
     }

     .con_bottom {
         /* display: block;
         width: 30%;
         border-radius: .4rem;
         transition: 0.5s;
         height: .866667rem;
         line-height: .866667rem;
         color: #b02537;
         text-align: center;
         font-size: .6rem;
         position: absolute;
         bottom: 7%;
         left: -100%; */
        
     }

     .con_bottom img {
         display: inline-block;
        width: .5rem;
         margin-right: 10px;
         vertical-align: middle;
     }






/* #num_3yd */
.serTopBox {
    width: 100%;
    height: 75%;
    position: relative;
}

.serBottomBox {
    width: 100%;
    height: 25%;
    position: relative;
}

.serBottomBox>img {
    position: absolute;
    display: block;
    top: 44%;
    width: 4%;
}

.serBottomBox>img:nth-of-type(1) {
    left: 4%;
}

.serBottomBox>img:nth-of-type(2) {
    right: 4%;
}

.serBoutBox {
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.serBInBox {
    width: 500%;

    transition: 0.5s;
 
  
}

.inBox {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
    height: 100%;
    float: left;

    box-sizing: border-box;
}

.inBoxImg {
    display: block;
    width: 70%;
    margin: auto;

    position: relative;
    transition: 0.2s;
    top: 0;
}

.inBoxP {
    line-height: .4rem;
    font-size: .4rem;
    margin-top: .133333rem;
    color: #6e6666;
}

.activeSerFont {
    color: #9b1f2f;
}

.topBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    transition: 0.5s;
    transform: scale(1);
}

.topBox:nth-of-type(1) {
    display: block;
    z-index: 1;
}

.serMoveBox {
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    height: 100%;
}

.tBannerBox {
    height: 100%;
    float: left;
    position: relative;
    top: 0;
    transition: 0.5s;
}

#slider {
    width: 100%;
    height: 100%;
}

.mui-slider-group {
    height: 100%;
}

.tBannerTopImg {
margin: auto;
    margin-top: 12%;
    transition: 0.3s;
    transform: scale(1);
}

.tBannerMidImg {
    transition: 0.3s;
    transform: scale(1);
    position: absolute;
    /*width: 90%;*/
    /*left: 5%;*/
    top: 32%;
}

.bannerRound {
    height: .133333rem;
    line-height: .133333rem;
    text-align: center;
    position: absolute;
    bottom: .133333rem;
    transition: 0.5s;
}

.round {
    display: inline-block;
    width: .133333rem;
    height: .133333rem;
    box-sizing: border-box;
    border: 1px solid #cfcbca;
    margin: 0px 4px;
    border-radius: 50%;
}

.mui-indicator {
    display: inline-block;
    width: .133333rem !important;
    height: .133333rem !important;
    box-sizing: border-box;
    border: 1px solid #cfcbca;
    margin: 0px 4px !important;
    border-radius: 50%;
    box-shadow: none !important;
    background: none !important;
}

.mui-indicator.mui-active {
    background: #b02537 !important;
    box-shadow: none !important;
    display: inline-block;
    width: .133333rem;
    height: .133333rem;
    box-sizing: border-box;
    border: none;
    margin: 0px 4px;
    border-radius: 50%;
}

.roundActive {
    border: none;
    background: #b02537;
}
.Ilogo {
    transform: translateX(.933333rem);
}

.indexHeader nav {
    transform: translateX(.933333rem);
}


/* 首页  */
.banner ul {
    width: 300%;
    transform: translateX(0px);
    transition: 0.5s;
}

#banner ul li {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}






     /* #num_4yd */
#num_4yd {
    text-align: center;
        background: #ededed;
        display: flex;
        align-items: center;
}

.caseOutDiv {
    display: inline-block;
    position: relative;
    margin: auto;
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.caseDiv {
    width: 63px;
    height: 90.999975px;
    background: #dcdad9;
    position: relative;
    left: 30%;
    background: #FFFFFF;
    transition: 0.5s;
    	opacity: 0;
}

.caseDiv span {
    display: block;
    position: absolute;
}

.caseDiv span:nth-of-type(1) {
    border-top: 45.999975px solid transparent;
    border-bottom: 45px solid transparent;
    border-right: 18px solid #ffffff;
    left: -17.000025px;
}

.caseDiv span:nth-of-type(2) {
    border-top: 47.000025px solid transparent;
    border-bottom: 45.000025px solid transparent;
    border-left: 18px solid #ffffff;
    right: -17.000025px;
}


.caseA {
    display: block;
    width: 100%;
    height: 100%;
}

.caseImg {
    display: block;
    height: 100%;
    transform: translateY(10px);
    position: relative;
    left: -13px;
    top: -10px;
}

.caseDiv:nth-of-type(2),
.caseDiv:nth-of-type(5),
.caseDiv:nth-of-type(8),
.caseDiv:nth-of-type(11),
.caseDiv:nth-of-type(14) {
    margin-left: -87px;
    margin-top: -30.999975px;
    position: relative;
    top: -9px;
}

.caseDiv:nth-of-type(3),
.caseDiv:nth-of-type(6),
.caseDiv:nth-of-type(9),
.caseDiv:nth-of-type(12),
.caseDiv:nth-of-type(15) {
        margin-left: 89.000025px;
        margin-top: -66px;
        position: relative;
        top: -36px;
}

.caseDiv:nth-of-type(4),
.caseDiv:nth-of-type(7),
.caseDiv:nth-of-type(10),
.caseDiv:nth-of-type(13),
.caseDiv:nth-of-type(16) {
    margin-top: -74.000025px;
}

.caseDiv:nth-of-type(3) {
    background: #595b77 ;
}

.caseDiv:nth-of-type(3) span:nth-of-type(1) {
    border-right-color: #595b77 ;
}

.caseDiv:nth-of-type(3) span:nth-of-type(2) {
    border-left-color: #595b77 ;
}

.caseDiv:nth-of-type(7) {
    background: #be3444 ;
}

.caseDiv:nth-of-type(7) span:nth-of-type(1) {
    border-right-color: #be3444 ;
}

.caseDiv:nth-of-type(7) span:nth-of-type(2) {
    border-left-color: #be3444 ;
}

.caseDiv:nth-of-type(9) {
    background: #584a3a ;
}

.caseDiv:nth-of-type(9) span:nth-of-type(1) {
    border-right-color: #584a3a ;
}

.caseDiv:nth-of-type(9) span:nth-of-type(2) {
    border-left-color: #584a3a ;
}

.caseDiv:nth-of-type(11) {
    background: #e0dddb ;
}

.caseDiv:nth-of-type(11) span:nth-of-type(1) {
    border-right-color: #e0dddb ;
}

.caseDiv:nth-of-type(11) span:nth-of-type(2) {
    border-left-color: #e0dddb ;
}

.caseDiv:nth-of-type(12) {
    background: #3a365b ;
}

.caseDiv:nth-of-type(12) span:nth-of-type(1) {
    border-right-color: #3a365b ;
}

.caseDiv:nth-of-type(12) span:nth-of-type(2) {
    border-left-color: #3a365b ;
}
#num_1,
     #num_1yd,
     #num_2yd,
     #num_3yd,
     #num_4yd,
     #num_5yd {
         overflow: hidden;
     }
     #num_1yd,
     #num_2yd,
     #num_3,
     #num_4,
     #num_5 {
         display: none;
     }
     #num_3yd{
         display: block;
     }
      

}
@media screen and (max-width: 768px){
    html{
        font-size: 75px;
     
    }
}